/* CSS reset */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}



/* Убираем изменение Month/Year в календаре */
.ant-picker-calendar-header [role="radiogroup"] {
	display: none;
}



/* Анимации переходов по страницам */
@keyframes slide-out {
	from { transform: translatey(0); opacity: 1; }
	to { transform: translatey(-30px); opacity: 0; }
}

@keyframes slide-in {
	from { transform: translatey(30px); opacity: 0; }
	to { transform: translatey(0); opacity: 1; }
}

::view-transition-old(page-content) {
	animation: .2s both slide-out;
}

::view-transition-new(page-content) {
	animation: .2s both slide-in;
}